	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/03/2020 20:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-brain:before { content: "\f100"; }
.flaticon-conversation:before { content: "\f101"; }
.flaticon-profits:before { content: "\f102"; }
.flaticon-null:before { content: "\f103"; }
.flaticon-idea:before { content: "\f104"; }
.flaticon-3d-cube:before { content: "\f105"; }
.flaticon-shape-builder:before { content: "\f106"; }
.flaticon-shape:before { content: "\f107"; }
.flaticon-bar-chart:before { content: "\f108"; }
.flaticon-application:before { content: "\f109"; }
.flaticon-web-programming:before { content: "\f10a"; }
.flaticon-web:before { content: "\f10b"; }
.flaticon-recycle:before { content: "\f10c"; }
.flaticon-electricity:before { content: "\f10d"; }
.flaticon-video-conference:before { content: "\f10e"; }
.flaticon-internet:before { content: "\f10f"; }
.flaticon-qa:before { content: "\f110"; }
.flaticon-technical-support:before { content: "\f111"; }
.flaticon-help:before { content: "\f112"; }
.flaticon-compass:before { content: "\f113"; }
.flaticon-bulb:before { content: "\f114"; }
.flaticon-null-1:before { content: "\f115"; }
.flaticon-app:before { content: "\f116"; }
.flaticon-smartphone:before { content: "\f117"; }
.flaticon-developer:before { content: "\f118"; }
.flaticon-web-1:before { content: "\f119"; }
.flaticon-api:before { content: "\f11a"; }
.flaticon-api-2:before { content: "\f11b"; }