@media (max-width: 768px) {
  .offcanvas-collapse {
    position: fixed;
    top: 58px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    padding-top: 25px;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}


@media (min-width: 0px) and (max-width: 767px) {
  .main-screen-mac {
   
    top: 25px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    left: 0;

}
 .main-about__card {
  height: auto;
  
}

.main-about__card {
 
  margin-top: 30px;
}
.main-img__icon img {
  width: 210px;

}

.main-client {
  padding-bottom: 50px;
}

.respon {
  font-size: 2rem;
  margin-bottom: 30px;
}

.form-cafe--contact input,
.form-cafe--contact textarea {

  width: auto;
}

.main-cafe__text {

  margin-left: 0;
}

.caption-slider h2 {

  font-size: 30px;

}

.circle-container.nav-tabs>li>a {
  width: 50px;
  height: 50px;

}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 35px !important;

}

.circle-responsive.nav-tabs li {
  margin: 4px;
}

.timeline-xs {
  display: inline;
}

.circle-services {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.split-slideshow {
  display: none;
}

.video-xs {
  display: initial;
}

.nav-top__header {
  display: none;
}
.myass_flipbox .flipbox_front .flipbox_title {
  display: flex;
  justify-content: center;
  padding: 0;
}

.titulo {
  display: block;

}

.titulo div {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

/* resposive time-lime version felipe */
  /* .circle-container:not(.circle-responsive) {
  background: transparent;
}
.circle-container:not(.circle-responsive)>li:nth-of-type(1) {
  -webkit-transform: rotate(-13deg) translate(12em) rotate(12deg);
  transform: rotate(-11deg) translate(10em) rotate(12deg);
}
.circle-container:not(.circle-responsive)>li:nth-of-type(2) {
  -webkit-transform: rotate(43deg) translate(12em) rotate(-42deg);
  transform: rotate(49deg) translate(14em) rotate(-48deg);
}
.circle-container:not(.circle-responsive)>li:nth-of-type(3) {
  -webkit-transform: rotate(132deg) translate(12em) rotate(-130deg);
  transform: rotate(117deg) translate(10em) rotate(-80deg);
}
.circle-container:not(.circle-responsive)>li:nth-of-type(4) {
  -webkit-transform: rotate(195deg) translate(11em) rotate(-195deg);
  transform: rotate(195deg) translate(8em) rotate(-195deg);
}
.circle-container:not(.circle-responsive)>li:nth-of-type(5) {
  -webkit-transform: rotate(273deg) translate(12em) rotate(-267deg);
  transform: rotate(316deg) translate(9em) rotate(-200deg);
}
.circle-pannel:not(.circle-pannel-responsive) .panel-body {
  overflow: initial;

}
.tab-pane {
  position: relative;
  background-size: 100%;
  height: 300px;
  border-radius: 50%;
  width: 300px;
  object-fit: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  } */
  /* resposive time-lime version felipe */

  .panel {
    margin-bottom: 0;

  }

  .mask-time {
    background: #0000007d;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .circle-container [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 30px !important;
  }

  .tab-pane {
    position: relative;
    background-size: 100%;
    height: 215px;
    border-radius: 4%;
    width: auto;
    object-fit: initial;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .tab-content h4 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;

  }

  .tab-content p {
    font-size: 19px;
    color: #ffff;
    text-align: center;
  }

  .main-about__card .main-about__iconos {
    display: initial;

  }

  .main-about__card [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    color: #00cf78;
  }

  .main-about__card .circle {
    filter: none;
  }

  .main-about__card .circle {
    animation-play-state: running;
  }

  .main-about__card {
    border-bottom: 10px solid #3fd68d;
  }

  .main-about__grid {

    margin-top: 105px;
  }

  .main-banner .mask .main-banner__text .main-banner__title span {

    font-size: 25px;

  }

  .video {

    height: 50vh;

  }

  .main-contact--grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .myass_flipbox.type_flip_right .flipbox_front {
    height: auto;
  }

  .main-services_card {
    /* box-shadow: 0px 0px 12px #00000033; */
    width: 100%;

  }

  .main-services_grid {
    gap: 0;
    grid-template-columns: 1fr;

  }

  section {
    padding: 50px 0px 0px;
    position: relative;
  }

  .title-general-porfolio {
    margin-bottom: 0;

  }

  .portfolio-screen-content {
    margin-bottom: 60%;
  }

  .caption-slider .carousel-indicators {
    display: -webkit-inline-box;
    justify-content: space-between;
    overflow: hidden;
  }

  .cafe-img img {
    width: 18%;
    position: initial;
    /* left: -100px; */
  }

  .modal-dialog {
    width: auto;
    margin: 10px;
  }

  .cafe-img {
    display: none;
  }

  .modal-cafe--grid {
    height: 67vh;
    grid-template-columns: 1fr;

  }

  .modal-cafe--item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mt-5 {
    margin-top: 0;
  }

  .main-cafe__img {
    display: none;
  }

  .main-cafe {
    padding: 0;
  }

  .main-cafe__text p {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  .phone-mockup {

    position: absolute;
    width: -webkit-fill-available;
    left: 9%;
    bottom: -25px;
    height: 464px;
    object-fit: contain;
    z-index: 1;
    overflow: hidden;

  }

  .main-screen .slick-list {

    margin-left: 10%;

  }

  .main-about__card:nth-child(2) {
    transform: translateY(25px);
    margin-bottom: 50px;
  }

  main-about__card:nth-child(2) {
    height: auto !important;
  }

  .main-about__card {
    height: auto !important;
    width: 100%;
  }

  .title-general span {
    font-size: 2rem;
  }

  .title-general span {
    font-size: 2rem;
  }

  .subtitle {
    padding: 0;

  }

  .intro p {
    font-size: 2rem;
    color: #676565;
    font-weight: 500;
    margin: 0;
    padding-bottom: 30px;
    margin-top: 50px;
  }

  .main-banner .main-banner__img {
    width: 100%;
    height: 50vh;
  }

  .slick-prev,
  .slick-next {
    z-index: 1;

  }

  .slick-prev {
    /* right: 0px; */
    left: 40px;
  }

  .slick-next {
    right: -32rem;
  }

  .slick-next:before,
  .slick-prev:before {

    font-size: 50px !important;
  }

  .slick-dots {
    position: initial;

  }

  .slick-dots {

    bottom: auto;

  }

  .slick-dots li button:before {
    width: 22px;
    height: 10px;
    color: transparent;

  }

  .slick-dots li.slick-active button:before {

    height: 10px;
  }


  .timeline_body:hover.timeline_body:nth-child(even) p {
    transform: none;

  }

  .timeline_body:hover.timeline_body:nth-child(even) h3 {
    transform: none;

  }

  .timeline_title h3 {

    top: -26%;
    font-weight: 800;
  }

  .main-timeline .slick-track {
    margin-top: 90px;
  }

  .title-general p {

    font-size: 2.5rem;

  }

  .timeline_img {
    opacity: 1;
  }

  .timeline_icon {
    display: none;
  }

  .timeline_body {

    margin-bottom: 100px;
  }

  .timeline_title p {
    opacity: 1;
    transform: none;
    margin-top: 15px;
    font-size: 2rem;
    bottom: -30%;
  }

  .timeline-lg {
    display: none !important;
  }

  .main-timeline {
    display: initial !important;
  }

  .hamburger-box {
    display: inline;
  }

  .main-about__grid {

    grid-template-columns: 1fr;

  }

  .main-footer__form {
    margin-top: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-client__content .slick-dots {
    left: 40%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .circle-container:not(.circle-responsive) {}

  .tab-pane h4 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 38%;
    font-weight: 600;
    font-size: 2.5rem;
  }

  .tab-pane p {
    color: #fff;
    position: absolute;
    left: 13%;
    top: 50%;
  }

  .tab-pane {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    /* opacity: .6; */
  }

  .circle-pannel:not(.circle-pannel-responsive) .panel-body {
    top: 50%;
    left: -8%;
    top: 39%;
    right: 0;
    max-width: 300px;
    max-height: 300px;
    margin-top: -100px;
    text-align: center;
    overflow: initial;
    left: -10%;


  }

  .main-services {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .timeline-xs {
    display: inline;
  }


  .timeline-lg {
    display: none;
  }

  .main-client__content .slick-dots {
    left: 35%;
  }
  .form-cafe--contact input,
  .form-cafe--contact textarea {

    width: auto;
  }

  .subtitle {
    padding: 0 50px 0;

  }

  .main-services_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .phone-mockup {
    position: absolute;
    width: 100%;
    left: 0%;
    z-index: 0;
    bottom: -20px;
    height: 468px;
    object-fit: contain;
  }

  .main-screen .slick-slide {
    margin-right: 55px !important;
  }

  .portfolio-screen-content {
    margin-bottom: 150px;
  }

  .main-cafe__text {
    font-size: 1.9rem;
    text-align: center;
    margin-left: 0;
  }

  .nav-top__header {
    display: none;
  }
  .main-contact--grid {
    
    grid-template-columns: 1fr;
  }
  .parallax {
    
    background-size: contain;

  }
  .mask-time {
    background: #0000007d;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-about__grid {
    
    grid-template-columns: 1fr 1fr;
    
  }
  .timeline-block {
    width: 20%;
    max-width: none;
    margin-bottom: 0;
    float: left;
  }

  .timeline-block::after {
    width: 100%;
    content: "";
    margin-top: -7px;
    z-index: -1;
    /* transform: translateY(-90%); */
    border-top: 1px solid#676565ba;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .timeline-block:last-child::after {
    width: calc(50% - 5px);
    left: 5px;
  }

  .container-time {
    width: 112%;
    margin-left: -6%;
  }

  .title {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .text p {
    font-size: 1.8rem;

    visibility: hidden;
    transform: translateY(11px) !important;
    transition: all .5s ease !important;

  }

  .text:hover p {
    font-size: 1.7rem;
    transform: translateY(-6px) !important;
    visibility: visible;
    transition: all .5s ease !important;
  }

  .text-v p {

    visibility: visible !important;

  }

  .timeline-block:nth-child(even) .iconic {
    transform: translateY(200%);
    top: 7px;
  }

  .timeline-block:nth-child(even) .iconic::after {
    transform: translateY(-100%);
    margin-bottom: auto;
    margin-top: -7px;
    bottom: auto;
    top: 0;
  }

  .timeline-block:nth-child(even) .text {
    /* transform: translateY(-50%);*/
    transform: translateY(-70%);
    padding-top: 0;
    padding-bottom: 60px;
  }

  .timeline-block:nth-child(even) .text::before {
    /* transform: translateY(-225%) translateX(-62%);*/
    transform: translateY(27%) translateX(-62%);
    top: auto;
    bottom: 30px;
  }
}

@media (min-width: 768px) {

}


/* 1024 */
@media (min-width: 992px) and (max-width: 1199px) {}