@media (max-width: 768px) {
  .offcanvas-collapse {
    position: fixed;
    top: 58px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    padding-top: 25px;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}


@media (min-width: 0px) and (max-width: 767px) {
  .main-contact--grid {
    display: grid;
    grid-template-columns: 1fr;
}
  .myass_flipbox.type_flip_right .flipbox_front {
    height: auto;
}
  .main-services_card {
    /* box-shadow: 0px 0px 12px #00000033; */
    width: 100%;
 
}
  .main-services_grid {
    gap: 0;
    grid-template-columns: 1fr;
 
}
section {
  padding: 50px 0px 0px;
  position: relative;
}
.title-general-porfolio {
  margin-bottom: 0;

}
.portfolio-screen-content {
  margin-bottom: 60%;
}
.caption-slider .carousel-indicators {
display: -webkit-inline-box;
  justify-content: space-between;
  overflow: hidden;
}
.cafe-img img {
  width: 18%;
  position: initial;
  /* left: -100px; */
}
.modal-dialog {
  width: auto;
  margin: 10px;
}
.cafe-img{
  display: none;
}
.modal-cafe--grid {
  height: 67vh;
  grid-template-columns: 1fr;

}
.modal-cafe--item{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mt-5 {
  margin-top: 0;
}
.main-cafe__img {
  display: none;
}
.main-cafe{
  padding: 0;
}
.main-cafe__text p {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.phone-mockup {
 
  width: auto;

}
.main-screen .slick-list {
 
  margin-left: 10%;

}
  .main-about__card:nth-child(2) {
    transform: translateY(25px);
    margin-bottom: 50px;
}
  main-about__card:nth-child(2) {
    height: auto!important;
}
  .main-about__card{
    height: auto!important;
    width: 100%;
  }
  .title-general span {
    font-size: 2rem;
}
  .title-general span {
    font-size: 2rem;
}
  .subtitle {
    padding: 0;
 
}
  .intro p {
    font-size: 2rem;
    color: #676565;
    font-weight: 500;
    margin: 0;
    padding-bottom: 30px;
    margin-top: 50px;
}
  .main-banner .main-banner__img {
    width: 100%;
    height: 50vh;
}

  .slick-prev,
  .slick-next {
    z-index: 1;

  }

  .slick-prev {
    /* right: 0px; */
    left: 40px;
  }

  .slick-next {
    right: -32rem;
  }

  .slick-next:before,
  .slick-prev:before {

    font-size: 50px !important;
  }

  .slick-dots {
    position: initial;

  }

  .slick-dots {

    bottom: auto;

  }

  .slick-dots li button:before {
    width: 22px;
    height: 10px;
    color: transparent;

  }

  .slick-dots li.slick-active button:before {

    height: 10px;
  }


  .timeline_body:hover.timeline_body:nth-child(even) p {
    transform: none;

  }

  .timeline_body:hover.timeline_body:nth-child(even) h3 {
    transform: none;

  }

  .timeline_title h3 {

    top: -26%;
    font-weight: 800;
  }

  .main-timeline .slick-track {
    margin-top: 90px;
  }

  .title-general p {

    font-size: 2.5rem;

  }

  .timeline_img {
    opacity: 1;
  }

  .timeline_icon {
    display: none;
  }

  .timeline_body {

    margin-bottom: 100px;
  }

  .timeline_title p {
    opacity: 1;
    transform: none;
    margin-top: 15px;
    font-size: 2rem;
    bottom: -30%;
  }

  .timeline-lg {
    display: none !important;
  }

  .main-timeline {
    display: initial !important;
  }

  .hamburger-box {
    display: inline;
  }

  .main-about__grid {

    grid-template-columns: 1fr;

  }

  .main-footer__form {
    margin-top: 30px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .main-footer__content {
    grid-template-columns: 50% 50%;

  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-how h3 {
    font-size: 18px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner__content .slick-dots {
    left: 35%;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .main-client__content .slick-dots {
    left: 40%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-client__content .slick-dots {
    left: 35%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-client__content .slick-dots {
    left: 35%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-top__header {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .circle-services {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #00cf78;
    margin-left: 20px;
}
  .split-slideshow{
    display: none;
  }
  .video-xs{
    display: initial;
  }
  .nav-top__header {
    display: none;
  }
}